<!-- Popup State -->

<div *ngIf="popUpState" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 ">
  <div class="bg-white w-96 p-5 rounded-xl shadow-lg mobile_nav">
    <div class="flex justify-between items-center mb-4">
      <h1 class="text-2xl font-semibold">Currently Available States</h1>
      <button class="text-gray-500 hover:text-orange-500 text-2xl" (click)="closeOrOpenStatePopup()">✖</button>
    </div>

    <div  class="max-h-60 overflow-y-auto border rounded p-2">
      <div class="grid grid-cols-2 gap-2">
        <div [ngClass]="country.isAvailable?'bg-white':'bg-red-300'" class="p-2 bg-gray-100 rounded flex justify-between" *ngFor="let country of countryData">
          <span class="capitalize">{{country.name}}</span> <span class="font-semibold">{{country.charge | currency:'INR'}}</span>
        </div>
      </div>
    </div>

    <div class="mt-4 text-right">
      <button class="px-4 py-2 bg-h-t-color text-white rounded hover:bg-orange-600" (click)="closeOrOpenStatePopup()">Close</button>
    </div>
  </div>
</div>

<!-- Description SMT -->

<div  *ngIf="popUpDescription" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50" (click)="closeOrOpenDescriptionPopUp()">
  <div id="goToProduct" class="bg-white w-96 p-5 rounded-xl shadow-lg mobile_nav">
    <div class="flex justify-between items-center mb-4">
      <h1 class="text-2xl font-semibold capitalize">description</h1>
      <button class="text-gray-500 hover:text-red-500 text-2xl">✖</button>
    </div>

    <p class="text-gray-600 text-lg text-justify">
      Sri Murugan Biscuit Bakery brings you the perfect blend of tradition and taste with our freshly baked delights. Crafted with the finest ingredients, our biscuits and cakes are a treat for those who appreciate quality and flavor in every bite.
    </p>
  </div>
</div>



<!-- Product Details -->

<div  id="goToProduct" class="flex items-start justify-start gap-x-4 flex-row p-3 mobile_nav:flex-col mobile_nav:gap-y-3 mt-24 mobile_nav:mt-16">
  <div class="flex flex-col items-center justify-center">
    <div class="w-disp_img mobile_nav:w-auto">
      <img class="h-disp_image w-disp_img mobile_nav:w-auto mobile_nav:h-96 p-1 object-cover hover:scale-105 transition ease-linear delay-100 rounded-3xl flex-1" [src]="'http://localhost:8080' + productData.src" >
    </div>

    <div class=" hover:scale-95 transition ease-linear delay-100 flex items-center justify-center flex-row w-full mt-4 gap-x-1 mobile_nav:bottom-0 mobile_nav:fixed mobile_nav:p-1 ">
      <button class="uppercase  h-10 w-full p-8 font-bold text-lg text-white bg-black border-none rounded-md flex items-center justify-center gap-x-1" (click)="onAddToCartBtnClicked()">
        <img class="w-8" src="icons/add-to-cart.svg">
        Add to cart</button>
    </div>
  </div>
  <div class="flex items-start justify-start flex-col gap-y-2 mobile_nav:p-2 p-1">
    <div class="flex items-start justify-start flex-col gap-y-1">
      <h1 class="font-semibold text-4xl mobile_nav:text-3xl capitalize font-arvo">{{productData.name}}</h1>
      <h2 class="text-xl font-normal text-justify">{{productData.desc}}</h2>
      <div class="flex items-center justify-start gap-x-2 mt-1">
        <p class="bg-h-t-color p-1 rounded-lg text-white font-normal text-xl font-pacifico">{{productData.rating}}</p>
        <p [innerHTML]="productData.rating | starRating:5" class="text-3xl"></p>
      </div>
      <p class="font-arvo text-3xl mt-2 font-medium">{{productData.price | currency:'INR'}}</p>
    </div>
    <p class="w-96 font-normal border-2 border-h-t-color bg-orange-50 p-2 rounded-lg mt-1 text-justify flex items-start justify-start gap-x-1 mobile_nav:w-auto">
      <img src="icons/sand-clock.svg" class="w-5 h-5">
      This product has a shelf life of 6 months from the date of manufacture.</p>
      <!-- Other Details -->
       <div class="gap-x-20 mobile_nav:w-full w-disp_product flex flex-col gap-y-4">
      <div class="p-0 mt-5 flex items-center justify-between ">
        <h1 class=" font-medium  text-xl">Delivery Available</h1>
        <p class=" text-blue-600 font-medium text-lg cursor-pointer" (click)="closeOrOpenStatePopup()">View States</p>
    </div>
      <div class="p-0 mt-2 justify-between flex items-center ">
        <h1 class=" font-medium  text-xl">Min Quandity</h1>
        <p class=" font-medium text-lg">{{productData.minquantity}} Boxes</p>
    </div>
      <div class="p-0 mt-2 justify-between flex items-start ">
        <h1 class=" font-medium  text-xl">Highlights</h1>
        <ul class="font-medium text-lg flex flex-col gap-y-1 list-disc">
          <li>Type: {{productData.type}}</li>
          <li>Price per Piece:  {{productData.price|currency:'INR'}}</li>
          <li>{{productData.isVeg==="true"?"Vegetarian":"Non-Vegetarian"}}</li>
        </ul>
    </div>

    <div class="p-0 mt-2 justify-between flex items-center ">
      <h1 class=" font-medium  text-xl">Seller</h1>
      <p class="text-blue-600 font-medium text-lg cursor-pointer" (click)="closeOrOpenDescriptionPopUp()">Sri Murugan Biscuit Bakery</p>
  </div>

  <div class="p-0 mt-2 justify-between flex items-center ">
    <h1 class=" font-medium  text-xl">In The Box</h1>
    <p class=" font-medium text-lg "><span>{{productData.pieces}}</span> Packs </div>
  </div>

  </div>




  <!-- <div class="p-0 mt-2 justify-between flex items-start gap-x-16">
    <h1 class=" font-medium  text-xl">Description</h1>
    <p class=" font-medium text-lg w-disp_img mobile_nav:w-auto text-justify ">
      Sri Murugan Biscuit Bakery brings you the perfect blend of tradition and taste with our freshly baked delights. Crafted with the finest ingredients, our biscuits and cakes are a treat for those who appreciate quality and flavor in every bite.</p>
</div> -->
</div>

<hr class="border-2 border-gray-300 mt-4 m-3">

<div class="flex items-center justify-center gap-y-4 flex-col p-3 mobile_nav:mt-3">
  <div>
    <h1 class="text-3xl self-start font-medium mobile_nav:font-2xl">You May Also Like</h1>
  </div>

    <div class=" grid grid-cols-4 place-items-center mobile_nav:grid-cols-1 gap-y-5 gap-x-4">

      <div class="border-2  w-fit h-fit rounded-2xl border-items-color shadow-xl shadow-items-color" *ngFor="let product of randomProducts">
        <div class="flex items-start justify-start flex-col" (click)="onClickProduct(product);  this.ScrollIntoElement();">
          <div class="p-2 bg-items-color rounded-2xl">
            <img [src]="'http://localhost:8080' + product.src" class="w-72 h-64 object-cover rounded-2xl hover:scale-105 transition ease-linear delay-75">
          </div>
          <h1 class="text-2xl font-normal capitalize pl-2">{{product.name}}</h1>
          <div class="flex items-center justify-between w-full p-1">
            <p class="float-start text-lg bg-items-color text-orange-700 p-2 rounded-xl" [ngStyle]="{'color':matchColor[product.type] || 'orange'}">{{product.type}}</p>
            <p class="float-end text-3xl p-2 font-medium font-arvo">{{product.price|currency:'INR'}}</p>
          </div>
        </div>
        </div>
  </div>
</div>


<div *ngIf="popupLogin" class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50">
  <div class="bg-white p-8 rounded-lg shadow-2xl w-11/12 sm:w-96 text-center">
    <img src="decoration/cake_login.svg" alt="Login Required" class="w-24 h-24 mx-auto mb-4">
    <h2 class="text-2xl font-semibold text-gray-800">Please Login to Continue</h2>
    <p class="text-gray-600 mt-3">You need to be logged in to access this feature.</p>
    <div class="mt-5 flex justify-center gap-4">
      <button (click)="LoginPopup()"  class="bg-[#F5952C] hover:bg-[#d17c24] text-white px-5 py-3 rounded-lg text-lg font-medium">Login</button>
      <button (click)="popupLogin=false;" class="bg-gray-300 hover:bg-gray-400 px-5 py-3 rounded-lg text-lg font-medium">Close</button>
    </div>
  </div>
</div>
<div class="relative p-6 flex-auto" *ngIf="popupLoginComponent">
  <app-login-register [loginOrRegister]="!popupLogin" ></app-login-register>
</div>

<!-- Modal Overlay -->
<div *ngIf="popupLoginComponent" class="fixed inset-0 z-50 flex justify-center items-center overflow-x-hidden overflow-y-auto outline-none focus:outline-none backdrop-blur-sm">
  <!-- Modal Container -->
  <div class="relative w-full mx-4 my-6 max-w-6xl md:w-4/5 lg:w-3/5 shadow-2xl rounded-2xl">
    <!-- Modal Content -->
    <div class="border-0 rounded-2xl shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
      <!-- Modal Header -->
      <div class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t mt-5">
        <h3 class="text-2xl font-semibold">Login / Register</h3>
        <div  class="w-8 rounded-lg bg-h-t-color p-2 cursor-pointer" (click)="popupLoginComponent=false; popupLogin=false;">
          <img src="icons/close_menu.svg" >
        </div>
      </div>
      <!-- Modal Body -->
      <div class="relative p-6 flex-auto">
        <app-login-register [loginOrRegister]="!popupLogin"></app-login-register>
      </div>
    </div>
  </div>
</div>


<app-loading-spinner [isLoading]="makeLoading"></app-loading-spinner>
