<div class="ml-24 mr-24 mobile_nav:ml-6 mobile_nav:mr-6 mobile_nav:mt-4">
  <div class="flex items-center justify-evenly mobile_nav:flex-col ">
    <div class="w-landing_img mobile_nav:w-auto ">
      <h1 class="text-7xl font-arvo font-semibold text-h-t-color mobile_nav:text-5xl">Sri Murugan<br>Biscuits</h1>
      <p class="font-semibold text-lg mt-6 break-words">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam perspiciatis maxime cupiditate praesentium ex. Nulla non aliquam repudiandae odit reiciendis! Reprehenderit unde dolorem excepturi laboriosam vel autem, aperiam asperiores ipsa.</p>
      <button class="bg-black h-14 w-52 text-white text-lg mt-6 rounded-lg text-center">View Products</button>
    </div>
    <div class="w-landing_img mobile_nav:w-auto">
      <img class="mobile_nav:w-auto" src="decoration/landing_page_1.jpg">
    </div>
  </div>

</div>
