<div class="absolute -rotate-45 w-20 right-5 top-96 opacity-20 hidden mobile_nav:block"><img src="decoration/cupcake.svg"></div>


<div class="ml-24 mr-24 mt-28 mobile_nav:ml-5 mobile_nav:mr-5 mobile_nav:mt-24">
  <div class="flex items-center justify-evenly mobile_nav:flex-col ">
    <div class="w-landing_img mobile_nav:w-auto ">
      <h1 class="text-7xl font-arvo font-semibold text-h-t-color mobile_nav:text-5xl">Sri Murugan<br>Biscuits</h1>
      <p class="font-medium text-lg mt-6 break-words text-justify">At Sri Murugan Biscuit Bakery, our biscuits are crafted to be enjoyed at any time of the day. Designed to suit all climates, they retain their delightful taste and crunch wherever you are. Made with a blend of natural and artificial ingredients, every bite delivers the perfect balance of flavor and freshness!</p>
      <button class="bg-black h-14 w-52 text-white text-lg mt-6 rounded-lg text-center font-medium">View More</button>
    </div>
    <div class="w-landing_img mobile_nav:w-auto">
      <img class="mobile_nav:w-auto h-auto" loading="eager" src="decoration/landing_page_1.jpg" >
    </div>
  </div>

  <div class="flex items-start justify-around mobile_nav:flex-col-reverse mobile_nav:gap-y-2  rounded-xl shadow-lg border-2 border-gray-200 shadow-gray-200 w-auto">
    <div class="w-full rounded-xl p-3 mobile_nav:p-2 self-center mobile_nav:self-stretch">
      <img src="decoration/bakery_items.jpg" class="rounded-2xl w-full">
    </div>
    <div class="flex items-start justify-center flex-col gap-y-3 p-3 mobile_nav:p-2">
      <h1 class="text-4xl font-bold font-arvo text-">Fresh & Flavorful: Real and Carefully Selected Ingredients</h1>
      <p class="text-lg font-medium text-justify">
        Welcome to Sri Murugan Biscuits Bakery, where every treat is crafted with real, carefully selected ingredients. We use the finest flours, rich chocolates, and fresh, locally-sourced produce to deliver pure, wholesome flavors. From cookies to cakes, enjoy delightful treats made with freshness you can taste. Indulge in the perfect blend of tradition and quality in every bite.
      </p>
      <button class="bg-black h-14 w-52 text-white text-lg mt-0 rounded-lg text-center font-medium">View Products</button>
    </div>
  </div>

</div>
<div></div>
