<div class="absolute w-36 -left-0 top-16 mobile_nav:hidden"><img class="opacity-25" src="decoration/muruga_vel.jpg"></div>

<div id="navbar" class="flex items-center justify-evenly p-8 mobile_nav:justify-between mobile_nav:p-5 fixed w-full transition-all duration-300 ease-in-out top-0 bg-white">
  <h1 class="text-4xl font-arvo font-semibold">SMT.</h1>
  <div class="mobile_nav:hidden">&nbsp;</div>
  <div class="mobile_nav:hidden">&nbsp;</div>
  <div class="mobile_nav:hidden">&nbsp;</div>
  <div class="mobile_nav:hidden">&nbsp;</div>
  <ul class="flex items-center justify-center gap-x-7 text-xl cursor-pointer mobile_nav:hidden">
    <li routerLink="home" routerLinkActive="border-b-4 border-h-t-color ">Home</li>
    <li routerLink="products"  routerLinkActive="border-b-4 border-h-t-color">Products</li>
    <li routerLink="about"  routerLinkActive="border-b-4 border-h-t-color">About</li>
    <li routerLink="reviews"  routerLinkActive="border-b-4 border-h-t-color">Reviews</li>
  </ul>
  <div class="mobile_nav:hidden">&nbsp;</div>
  <div class="mobile_nav:hidden">&nbsp;</div>
  <div class="mobile_nav:hidden">&nbsp;</div>
  <div class="mobile_nav:hidden">&nbsp;</div>
  <div *ngIf="isLoggedIn else loginblock" class="text-xl flex items-center  justify-center gap-x-3 cursor-pointer mobile_nav:hidden">
    <img class="w-12 p-2 " src="icons/search.svg">
    <img class="w-12 p-2 rounded-lg bg-h-t-color"  src="icons/cart.svg" routerLink="user/cart">
      <div  class="w-12 rounded-3xl bg-h-t-color p-2 cursor-pointer">
        <img *ngIf="!account_menu_view" (click)="triggerAccountBtn()" src="icons/account.svg">
        <img *ngIf="account_menu_view" src="icons/close_menu.svg" (click)="triggerAccountBtn()">
      </div>

  </div>

  <ng-template #loginblock>
    <ul class="flex items-center justify-center text-xl font-normal cursor-pointer gap-x-3 mobile_nav:hidden">
      <li class="p-2 hover:underline" (click)="openLoginPopup()">Sign in</li>
      <li class="p-2 rounded-lg bg-h-t-color  text-white hover:underline" (click)="openRegisterPopup()">Sign up</li>
    </ul>
  </ng-template>


  <div class="w-10 bg-h-t-color p-2 rounded-lg hidden mobile_nav:block cursor-pointer">
    <img *ngIf="!mobile_menu_view" src="icons/menu.svg" (click)="triggerMenuBtn() ">
    <img *ngIf="mobile_menu_view" src="icons/close_menu.svg" (click)="triggerMenuBtn(); account_menu_view=false">
  </div>
</div>

<div *ngIf="mobile_menu_view" class="border-2 border-black p-3 w-auto h-auto fixed top-5 right-16 rounded-ss-3xl rounded-ee-3xl rounded-es-3xl bg-white transition ease-in-out delay-300">
  <ul class="flex items-center justify-center gap-y-3 text-xl cursor-pointer flex-col ">
    <li routerLink="home" routerLinkActive="border-b-4 border-h-t-color ">Home</li>
    <li routerLink="products"  routerLinkActive="border-b-4 border-h-t-color">Products</li>
    <li routerLink="about"  routerLinkActive="border-b-4 border-h-t-color">About</li>
    <li routerLink="reviews"  routerLinkActive="border-b-4 border-h-t-color">Reviews</li>
  </ul>

  <div class="mt-4">
  <div *ngIf="isLoggedIn else loginblock" class="text-xl flex items-center  justify-center gap-x-3 cursor-pointer">
    <div class="flex items-center justify-center"><img class="w-12 p-2 " src="icons/search.svg">
    <img class="w-12 p-2 rounded-lg bg-h-t-color" src="icons/cart.svg" routerLink="user/cart"></div>
    <div  class="w-12 rounded-3xl bg-h-t-color p-2 cursor-pointer">
      <img *ngIf="!account_menu_view" (click)="triggerAccountBtn()" src="icons/account.svg">
      <img *ngIf="account_menu_view" src="icons/close_menu.svg" (click)="triggerAccountBtn()">
    </div>
  </div>

  <div *ngIf="account_menu_view && isLoggedIn" class=" mt-3  flex items-start justify-start flex-col text-lg gap-y-2 invisible mobile_nav:visible">
    <hr class="w-full bg-black h-1">
    <div class="text-xl">
      <p class="capitalize">Hello, {{userData.name}}</p>
    </div>
    <div class="flex items-center justify-start gap-x-4 ">
      <img class="w-7" src="icons/edit-profile.svg"><span class="hover:scale-110 transition ease-in-out delay-100 hover:underline">Edit Profile</span>
    </div>
    <div class="flex items-center justify-start gap-x-4">
      <img class="w-7" src="icons/address.svg"><span class="hover:scale-110 transition ease-in-out delay-100 hover:underline">Address</span>
    </div>
    <div class="flex items-center justify-start gap-x-4">
      <img class="w-7" src="icons/logout.svg"><span class="hover:scale-110 transition ease-in-out delay-100 hover:underline" (click)="clearUserData()">Logout</span>
    </div>
  </div>


  <ng-template #loginblock>
    <ul class="flex items-center justify-center text-xl font-normal cursor-pointer gap-x-3">
      <li class="p-2" (click)="openLoginPopup()" >Sign in</li>
      <li class="p-2 rounded-lg bg-h-t-color  text-white" (click)="openRegisterPopup()" >Sign up</li>
    </ul>
  </ng-template>
</div>
</div>

<!-- Modal Overlay -->
<div *ngIf="showModal" class="fixed inset-0 z-50 flex justify-center items-center overflow-x-hidden overflow-y-auto outline-none focus:outline-none backdrop-blur-sm">
  <!-- Modal Container -->
  <div class="relative w-full mx-4 my-6 max-w-6xl md:w-4/5 lg:w-3/5 shadow-2xl rounded-2xl">
    <!-- Modal Content -->
    <div class="border-0 rounded-2xl shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
      <!-- Modal Header -->
      <div class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t mt-5">
        <h3 class="text-2xl font-semibold">Login / Register</h3>
        <div  class="w-8 rounded-lg bg-h-t-color p-2 cursor-pointer" (click)="openRegisterPopup()">
          <img src="icons/close_menu.svg" >
        </div>
      </div>
      <!-- Modal Body -->
      <div class="relative p-6 flex-auto">
        <app-login-register [loginOrRegister]="loginRegisterView" (userActive)="UserActive($event)" (popupCloser)="closePopUp($event)"></app-login-register>
      </div>
    </div>
  </div>
</div>


<div *ngIf="account_menu_view && isLoggedIn" class="mobile_nav:hidden absolute w-auto h-auto bg-white right-5 top-24 text-lg border-2 border-black p-3 rounded-3xl flex items-start justify-start flex-col gap-y-3 cursor-pointer mobile_nav:top-64 mobile_nav:mt-3 mobile_nav: mobile_nav:right-16">
  <div class="text-xl">
    <p class="capitalize">Hello, {{userData.name}}</p>
  </div>
  <div class="flex items-center justify-start gap-x-4 ">
    <img class="w-7" src="icons/edit-profile.svg"><span class="hover:scale-110 transition ease-in-out delay-100 hover:underline">Edit Profile</span>
  </div>
  <div class="flex items-center justify-start gap-x-4">
    <img class="w-7" src="icons/address.svg"><span class="hover:scale-110 transition ease-in-out delay-100 hover:underline">Saved Address</span>
  </div>
  <div class="flex items-center justify-start gap-x-4">
    <img class="w-7" src="icons/logout.svg"><span class="hover:scale-110 transition ease-in-out delay-100 hover:underline" (click)="clearUserData()">Logout</span>
  </div>
</div>

<app-loading-spinner [isLoading]="makeLoading"></app-loading-spinner>
