<div class="flex items-center justify-around p-8 mobile_nav:justify-between mobile_nav:p-5">
  <h1 class="text-4xl font-arvo font-semibold">SMT.</h1>
  <ul class="flex items-center justify-center gap-x-7 text-xl cursor-pointer mobile_nav:hidden">
    <li routerLink="home" routerLinkActive="border-b-4 border-h-t-color ">Home</li>
    <li routerLink="products"  routerLinkActive="border-b-4 border-h-t-color">Products</li>
    <li routerLink="about"  routerLinkActive="border-b-4 border-h-t-color">About</li>
    <li routerLink="reviews"  routerLinkActive="border-b-4 border-h-t-color">Reviews</li>
  </ul>
  <div *ngIf="isLoggedIn else loginblock" class="text-xl flex items-center  justify-center gap-x-3 cursor-pointer mobile_nav:hidden">
    <img class="w-12 p-2 " src="icons/search.svg">
    <img class="w-12 p-2 rounded-lg bg-h-t-color"  src="icons/cart.svg">
  </div>

  <ng-template #loginblock>
    <ul class="flex items-center justify-center text-xl font-normal cursor-pointer gap-x-3 mobile_nav:hidden">
      <li class="p-2">Sign in</li>
      <li class="p-2 rounded-lg bg-h-t-color  text-white">Sign up</li>
    </ul>
  </ng-template>


  <div class="w-10 bg-h-t-color p-2 rounded-lg hidden mobile_nav:block cursor-pointer">
    <img *ngIf="!mobile_menu_view" src="icons/menu.svg" (click)="triggerMenuBtn() ">
    <img *ngIf="mobile_menu_view" src="icons/close_menu.svg" (click)="triggerMenuBtn()">
  </div>
</div>

<div *ngIf="mobile_menu_view" class="border-2 border-black p-3 w-auto h-auto absolute right-12 rounded-ss-3xl rounded-ee-3xl rounded-es-3xl bg-white transition ease-in-out delay-300" (click)="triggerMenuBtn()">
  <ul class="flex items-center justify-center gap-y-3 text-xl cursor-pointer flex-col ">
    <li routerLink="home" routerLinkActive="border-b-4 border-h-t-color ">Home</li>
    <li routerLink="products"  routerLinkActive="border-b-4 border-h-t-color">Products</li>
    <li routerLink="about"  routerLinkActive="border-b-4 border-h-t-color">About</li>
    <li routerLink="reviews"  routerLinkActive="border-b-4 border-h-t-color">Reviews</li>
  </ul>

  <div class="mt-4">
  <div *ngIf="isLoggedIn else loginblock" class="text-xl flex items-center  justify-center gap-x-3 cursor-pointer">
    <img class="w-12 p-2 " src="icons/search.svg">
    <img class="w-12 p-2 rounded-lg bg-h-t-color"  src="icons/cart.svg">
  </div>

  <ng-template #loginblock>
    <ul class="flex items-center justify-center text-xl font-normal cursor-pointer gap-x-3">
      <li class="p-2">Sign in</li>
      <li class="p-2 rounded-lg bg-h-t-color  text-white">Sign up</li>
    </ul>
  </ng-template>
</div>
</div>
